doctype html
html(lang="en-US", ng-app="angularAddresses")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Angular Addresses

  body(ng-controller="Main")
    .container
      h1(ng-repeat="name in names | orderBy | filter:query") Hello {{ name }}!
      input(placeholder="Search", ng-model="query")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js")
    script(src="lib/build.js")
    script(src="js/main.js")

